.advantages__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px;
}

.advantages ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 94px 0 0;
}

.advantages li {
  position: relative;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 30px;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 298px;

  &:hover {
    background-color: #00B2FF;
    color: #ffffff;
    cursor: pointer;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.advantages li:hover h3,
.advantages li:hover h3 {
  color: #ffffff;
}

.advantages svg {
  position: absolute;
  fill: #00B2FF;
}

.advantages__stopwatch svg {
  padding-top: 42px;
  padding-left: 42px;
}

.advantages__hired svg {
  padding-top: 42px;
  padding-left: 42px;
}

.advantages__detective svg {
  padding-top: 42px;
  padding-left: 42px;
}

.advantages__tag svg {
  padding-top: 42px;
  padding-left: 42px;
}

.advantages li:hover svg {
  fill: #ffffff;
}

.advantages h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF;
  margin: 0;
  padding: 95px 45px 15px;
}

.advantages p {
  padding-left: 45px;
  padding-right: 42px;
  padding-bottom: 65px;
  margin: 0;
}

@media (max-width: 1023px) {
  .advantages ul {
    padding-top: 38px;
  }

  .advantages li {
    min-height: 233px;
  }

  .advantages h3 {
    padding: 64px 15px 8px 27px;
  }

  .advantages p {
    padding-left: 27px;
    padding-right: 21px;
    padding-bottom: 24px;
  }

  .advantages__stopwatch svg {
    padding-top: 25px;
    padding-left: 27px;
  }

  .advantages__hired svg {
    width: 31px;
    height: 32px;
    padding-top: 23px;
    padding-left: 27px;
  }

  .advantages__detective svg {
    width: 35px;
    height: 30px;
    padding-top: 24px;
    padding-left: 22px;
  }

  .advantages__tag svg {
    width: 32px;
    height: 32px;
    padding-top: 24px;
    padding-left: 27px;
  }
}

@media (max-width: 767px) {
  .advantages__wrapper {
    padding: 0 14px;
  }

  .advantages ul {
    padding-top: 22px;
  }

  .advantages li {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 28px;
    padding-top: 71px;
    padding-bottom: 8px;
  }

  .advantages p {
    padding-left: 27px;
    padding-right: 18px;
    padding-bottom: 25px;
  }
}
