.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -310px;
  margin-left: -245px;
  z-index: 1;
}

.modal-backdrop {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(17, 29, 35, 0.9);
  z-index: 1;
}

.modal-open .modal,
.modal-open.modal-backdrop {
  display: block;
}

.modal .questions__wrapper {
  background-color: #00B2FF;
  color: #ffffff;
  max-width: 490px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.modal h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 14px;
  font-size: 28px;
  line-height: 39px;
}

.modal .questions__wrapper p {
  margin: 0;
  padding-bottom: 36px;
  width: 370px;
}

.modal .form {
  padding: 0;
}

.modal .form__row--submit {
  flex-direction: column;
}

.modal .form__row--submit button {
  margin-bottom: 31px;
  width: 100%;
}

.modal .form__row--input {
  width: 100%;
  flex-direction: column;
}

.modal .form__row--input input {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 22px;
  padding-top: 12px;
}

.modal textarea {
  margin-bottom: 37px;
  height: 104px;
  padding-top: 18px;
}

.modal .form__row--submit label {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 48px;
}

.modal .form__row--submit input + label::before {
  left: -2px;
  top: 4px;
}

.modal .form__row--submit input:checked + label::after {
  left: 3px;
  top: 9px;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 24px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-privacy {
  &:hover {
    background-color: #71c3f2;
  }

  &:active,
  &:focus {
    background-color: #6bbfef;
    color: rgba(255, 255, 255, 0.3);
  }
}

.modal input[type=checkbox] {
  left: 3%;
  top: 90px;
}
