.page-footer {
  position: relative;
  width: 100%;
}

.page-footer__wrapper {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1411px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.page-footer__bottom {
  display: flex;
}

.page-footer__bottom::before {
  display: block;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  background-color: rgba(98, 105, 98, 0.2);
}

.page-footer__container {
  width: 301px;
}

.page-footer__container-logo {
  opacity: 1;
  margin-bottom: 54px;
}

.page-footer__logo-name {
  color: #203C42;
}

.page-footer__social {
  margin-bottom: 58px;
}

.page-footer__social ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 112px;
}

.page-footer__sections {
  width: 550px;
  margin-left: 25px;
  margin-right: 10px;
}

.page-footer__address button,
.page-footer__sections button {
  display: none;
}

.page-footer h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1B2D37;
  margin-top: 0;
  margin-bottom: 25px;
}

.page-footer__sections ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  column-count: 2;
  column-gap: 65px;
}

.page-footer a {
  color: #1B2D37;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.9;
  }
}

.page-footer__bottom a,
.page-footer__sections a {
  opacity: 0.5;
}

.page-footer__address {
  width: 335px;
  margin-left: 3px;
}

.page-footer__address p {
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer__address ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
}

.page-footer__address a {
  opacity: 0.5;
}

.page-footer__bottom {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  color: #1B2D37;
  text-transform: uppercase;
}

.page-footer__bottom p {
  margin-top: 18px;
  margin-bottom: 14px;
}

.page-footer__rights {
  opacity: 0.5;
  margin-right: 6%;
}

.page-footer__date {
  opacity: 0.5;
  margin-right: 11%;
}

.page-footer__developed-by {
  margin-right: 12px;
  min-width: 180px;
}

.page-footer__privacy-policy {
  padding-right: 6px;
  margin-right: auto;
}

@media (max-width: 1023px) {
  .page-footer__top {
    flex-wrap: wrap;
    margin-top: 12px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }

  .page-footer h2 {
    margin-bottom: 28px;
  }

  .page-footer__container-logo {
    margin-bottom: 25px;
  }

  .page-footer__sections {
    width: 50%;
    margin: 0 0 33px;
    padding-right: 0;
  }

  .page-footer__sections-container {
    margin-top: 40px;
  }

  .page-footer__address::before,
  .page-footer__sections::before {
    display: block;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    height: 1px;
    background: rgba(98, 105, 98, 0.2);
  }

  .page-footer__address {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 33px;
    width: 50%;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .page-footer__address-container {
    margin-top: 40px;
  }

  .page-footer__sections ul {
    column-count: 1;
  }

  .page-footer__bottom {
    justify-content: space-between;
  }

  .page-footer__bottom p {
    margin-top: 25px;
  }

  .page-footer__social {
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__date {
    position: absolute;
    left: 43%;
    top: 12px;
    width: initial;
  }
}

@media (max-width: 767px) {
  .page-footer__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-footer__container {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .page-footer__container-logo {
    margin-bottom: 70px;
  }

  .page-footer__social {
    margin-bottom: 20px;
  }

  .page-footer__sections {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .page-footer__address-container,
  .page-footer__sections-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    position: relative;
  }

  .page-footer__address button,
  .page-footer__sections button {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    width: 100%;
    height: 74px;
  }

  .page-footer__sections button .page-footer__address button {
    margin-top: 28px;
  }

  .page-footer__address button::before,
  .page-footer__sections button::before {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    top: 36px;
    right: 2px;
    background-color: #C4C4C4;
  }

  .page-footer__address button:hover::after,
  .page-footer__address button:hover::before,
  .page-footer__sections button:hover::after,
  .page-footer__sections button:hover::before {
    opacity: 0.7;
  }

  .page-footer__address button:active::after,
  .page-footer__address button:active::before,
  .page-footer__address button:focus::after,
  .page-footer__address button:focus::before,
  .page-footer__sections button:active::after,
  .page-footer__sections button:active::before,
  .page-footer__sections button:focus::after,
  .page-footer__sections button:focus::before {
    opacity: 0.9;
  }

  .page-footer__address button::after,
  .page-footer__sections button::after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    top: 29px;
    right: 10px;
    background-color: #C4C4C4;

    &:hover {
      opacity: 0.7;
    }

    &:active,
    &:focus {
      opacity: 0.9;
    }
  }

  .page-footer__address--open button::after,
  .page-footer__sections--open button::after {
    display: none;
  }

  .page-footer__address {
    width: 100%;
  }

  .page-footer__address p,
  .page-footer__address ul,
  .page-footer__sections ul {
    display: none;
  }

  .page-footer__address--open p,
  .page-footer__address--open ul,
  .page-footer__sections--open ul {
    display: block;
    animation: bounce 0.5s;
  }

  @keyframes bounce {
    0% {
      transform: translateY(-30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .page-footer__sections h2 {
    margin: 0;
  }

  .page-footer__address {
    margin-bottom: 4px;
    padding-left: 0;
  }

  .page-footer__address--open,
  .page-footer__sections--open {
    margin-bottom: 27px;
  }

  .page-footer__address h2,
  .page-footer__sections h2 {
    margin-top: 28px;
    margin-bottom: 30px;
  }

  .page-footer__address p {
    max-width: 250px;
  }

  .page-footer__bottom {
    padding-top: 0;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-footer__bottom p {
    margin-top: 29px;
    margin-bottom: -7px;
    width: 100%;
  }

  .page-footer__date {
    left: -6px;
    top: 94px;
    width: 100%;
    text-align: center;
  }
}
