.products {
  background-color: #1B2D37;
}

.products__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px;
}

.products h2 {
  margin: 0;
  padding-top: 87px;
  padding-bottom: 33px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 127px;
}

.products li {
  width: 31.3%;
  min-height: 620px;
  margin-right: 3%;
  background-color: #1B2D37;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.products a {
  display: block;
  position: relative;
  min-height: 620px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.products h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 50px 45px;
  width: 190px;
  z-index: 1;
}

.products__components a::before,
.products__installation a::before,
.products__production a::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1B2D40;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
}

.products__production a::before {
  background-image: url("/img/production-desktop@1x.jpg");
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/production-desktop@2x.jpg");
  }
}

.products__installation a::before {
  background-image: url("/img/installation-desktop@1x.jpg");
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/installation-desktop@2x.jpg");
  }
}

.products__components a::before {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/img/components-desktop@1x.jpg");
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/components-desktop@2x.jpg");
  }
}

.products button {
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("/img/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}

@media (max-width: 1023px) {
  .products__wrapper {
    padding-left: 25px;
    padding-right: 26px;
  }

  .products h2 {
    padding-top: 53px;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 30px;
    width: 630px;
  }

  .products ul {
    flex-direction: column;
    padding-bottom: 73px;
  }

  .products li {
    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 27px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .products a {
    min-height: 256px;
  }

  .products h3 {
    padding-top: 42px;
    padding-left: 44px;
    padding-right: 43px;
    width: 165px;
  }
}

@media (max-width: 767px) {
  .products__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .products h2 {
    font-size: 28px;
    line-height: 39px;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 280px;
    padding-bottom: 19px;
    margin-bottom: 0;
  }

  .products li {
    width: 100%;
    margin-bottom: 10px;
  }

  .products h3 {
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .products ul {
    padding-bottom: 65px;
  }
}
