.questions {
  background-color: #00B2FF;
  background-image: url("/img/background-triangle1.svg"), url("/img/background-triangle2.svg"), linear-gradient(to right, rgb(0, 178, 255), rgb(0, 178, 255));
  background-repeat: no-repeat;
  background-position: right 15px top 42px,right 0 top 285px,top left;
  color: #ffffff;
}

.questions__background--wrapper {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.questions__background--wrapper::before {
  position: absolute;
  left: -190px;
  right: 0;
  height: 100%;
  top: 0;
  content: "";
  background-image: url("/img/airplane@1x.png");
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/airplane@2x.png");
    background-size: 686px auto;
  }
  background-repeat: no-repeat;
  background-position: 24px -59px;
}

.questions__wrapper {
  position: relative;
  padding-left: 50%;
  padding-right: 25px;
  max-width: 600px;
}

.questions h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 7px;
  padding-left: 10px;
}

.questions p {
  margin: 0;
  padding-bottom: 55px;
  padding-left: 15px;
}

input::placeholder,
textarea::placeholder {
  font-family: "PT Mono","Arial",sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}

.form__row--input {
  display: flex;
  justify-content: space-between;
}

.form {
  padding: 0 10px;
}

.form input,
.form textarea {
  background-color: #18B9FF;
  border: none;
  outline: none;
  padding-right: 10px;
  padding-left: 17px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 14px;

  &:hover {
    background-color: #71c3f2;
  }

  &:active,
  &:focus {
    background-color: #6bbfef;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form input {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.form textarea {
  width: 100%;
  height: 154px;
  resize: none;
  margin-bottom: 45px;
}

.form__row--submit button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 13px;
  letter-spacing: 0.05em;
  width: 47%;
  margin-bottom: 119px;
}

.form__row--submit {
  display: flex;
  justify-content: space-between;
}

.form__row--submit label {
  position: relative;
  width: 40%;
}

.form__row--submit input + label::before,
.form__row--submit input:checked + label::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__row--submit input + label::before {
  width: 16px;
  height: 16px;
  left: -32;
  top: 3px;
  border: 1px solid #FFFFFF;
}

.form__row--submit input:checked + label::after {
  width: 7px;
  height: 7px;
  left: -26px;
  top: 9px;
  background-image: url("/img/checkbox-on.svg");
}

@media (max-width: 1023px) {
  .questions {
    background-color: #00B2FF;
  }

  .questions,
  .questions__wrapper {
    background-image: none;
  }

  .questions__wrapper {
    max-width: 100%;
    padding-left: 78px;
    padding-right: 74px;
    margin: 0 auto;
  }

  .questions__background--wrapper::before {
    display: none;
  }

  .questions h2 {
    font-size: 32px;
    line-height: 45px;
    padding-top: 83px;
  }

  .questions p {
    padding-bottom: 60px;
  }

  .form input,
  .form textarea {
    padding-top: 14px;
  }

  .form textarea {
    height: 164px;
  }

  .form__row--submit button {
    padding-top: 15px;
    padding-bottom: 14px;
    margin-bottom: 103px;
  }

  .form__row--submit label {
    padding-top: 7px;
  }

  .form__row--submit input+label::before {
    left: -36px;
    top: 13px;
  }

  .form__row--submit input:checked+label::after {
    left: -31px;
    top: 19px;
  }
}

@media (max-width: 767px) {
  .questions__wrapper {
    max-width: 1170px;
    padding-left: 5px;
    padding-right: 15px;
  }

  .questions h2 {
    font-size: 28px;
    line-height: 39px;
    padding-top: 33px;
    width: 100%;
  }

  .questions p {
    padding-bottom: 30px;
  }

  .questions .form {
    padding: 0 5px;
  }

  .form input,
  .form textarea {
    margin-bottom: 33px;
  }

  .form textarea {
    height: 105px;
  }

  .questions .form__row--input {
    flex-direction: column;
  }

  .questions .form__row--input input {
    width: 100%;
  }

  .form__row--submit {
    flex-direction: column;
    width: 100%;
  }

  .form__row--submit button {
    margin-bottom: 30px;
    width: 100%;
  }

  .form__row--submit label {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 35px;
  }

  .form__row--submit input + label::before {
    left: 0;
    top: 3px;
  }

  .form__row--submit input:checked + label::after {
    left: 5;
    top: 9px;
  }

  .form__row--submit label {
    padding-top: 0;
  }
}
