.user-nav {
  margin-top: 37px;
  flex-grow: 1;
}

.user-nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-nav li {
  padding-bottom: 20px;
}

.user-nav__mail {
  position: relative;
  padding-right: 120px;
}

.user-nav__mail::before {
  position: absolute;
  content: "";
  display: block;
  width: 19px;
  height: 14px;
  background-image: url("/img/envelope.svg");
  top: 3;
  left: -40px;
}

.user-nav__phone {
  position: relative;
  padding-right: 50px;
  white-space: nowrap;
}

.user-nav__phone::before {
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("/img/phone-call.svg");
  top: 3;
  left: -31px;
}

.user-nav a {
  color: #ffffff;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

.user-nav .user-nav__button {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 14px 33px 13px 22px;
  letter-spacing: 0.05em;

  &:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:active,
  &:focus {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
}

@media (max-width: 1023px) {
  .user-nav{
    margin-top: 32px;
  }

  .user-nav__call,
  .user-nav__mail a,
  .user-nav__phone a {
    display: none;
  }

  .user-nav ul {
    justify-content: flex-end;
  }

  .user-nav__phone {
    padding-right: 0;
  }

  .user-nav__mail {
    padding-right: 35px;
  }

  .user-nav__mail::before,
  .user-nav__phone::before {
    background-size: 100% auto;
    position: initial;
  }

  .user-nav__mail::before {
    width: 25.33px;
    height: 18.67px;
  }

  .user-nav__phone::before {
    width: 24px;
    height: 24px;
    top: 0;
  }
}
@media (max-width: 767px) {
  .user-nav {
    margin-top: 23px;
}

  .user-nav__mail {
    padding-right: 24px;
  }

  .page-header__logo p {
    display: none;
  }
}
